# NextAuth (Cognito)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-random-string

COGNITO_ISSUER=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_XXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
COGNITO_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COGNITO_AUTHORIZATION=http://localhost:3000/api/auth/signin
# If you use Hosted UI, set:
# COGNITO_WELL_KNOWN=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_XXXXXXX/.well-known/openid-configuration

# AWS (for backend API calls)
AWS_REGION=ap-southeast-1
DEPLOY_TABLE=deployments              # DynamoDB table name
JOBS_QUEUE_URL=https://sqs.ap-southeast-1.amazonaws.com/123456789012/project-env-deploy-jobs

# Local dev creds (choose one):
# 1) Use shared profile: set AWS_PROFILE when running 'pnpm dev'
# 2) Or use env keys:
# AWS_ACCESS_KEY_ID=AKIAxxxxxxxxxxxxxxx
# AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
